.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
body{
    color: rgb(var(--color-text));
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
    color: rgb(var(--color-heading));
}
.color-primary{
    background: rgb(var(--color-primary));
    color: rgb(var(--color-primary-contrast));
}
.color-secondary-1{
    background: rgb(var(--color-secondary-1));
    color: rgb(var(--color-secondary-contrast));
}
.color-secondary-2{
    background-color: rgb(var(--color-secondary-2));
    color: rgb(var(--color-secondary-contrast));
}