.price {
  font-size: 1.6rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  letter-spacing: 0.1rem;
  color: rgb(var(--color-foreground));
}

.price--on-sale .price-item--regular {
  text-decoration: line-through;
  color: rgba(var(--color-foreground), 0.7);
  font-size: 1.3rem;
}

.price--on-sale .price-item--sale {
  color: rgb(var(--color-foreground));
  font-weight: 600;
}

.price__container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.price-item {
  margin: 0;
}

.price--large {
  font-size: 2rem;
}

.price--sold-out .price__badge-sold-out {
  display: inline-block;
}

.price--on-sale .price__regular {
  display: none;
}

.price--on-sale .price__badge-sale {
  display: inline-block;
}

.price__badge-sale,
.price__badge-sold-out {
  display: none;
}
